@model IEnumerable<FireV2.ViewModels.PhysicalHistoryReportVM>

@{
    ViewBag.Title = "ListOfAthlet";
}

<h2>ListOfAthlet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PSazmaniTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPhysicalScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PSazmaniTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPhysicalScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AthleteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AthleteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AthleteId })
        </td>
    </tr>
}

</table>
