@model IEnumerable<FirePhysical.Models.Archive>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Athlete.Fnam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArchiveNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsArchive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Athlete.Fnam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArchiveNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsArchive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IsArchiveid }) |
            @Html.ActionLink("Details", "Details", new { id=item.IsArchiveid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IsArchiveid })
        </td>
    </tr>
}

</table>
