@model IEnumerable<FireV2.Models.phRItemsPoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgeRenge.AgeRengeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalReadinesitem.PhReadinessItemTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgeRenge.AgeRengeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalReadinesitem.PhReadinessItemTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.phRItemsPointId }) |
            @Html.ActionLink("Details", "Details", new { id=item.phRItemsPointId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.phRItemsPointId })
        </td>
    </tr>
}

</table>
