@model FireV2.Models.InfoDocumentTitleType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InfoDocumentTitleType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InfoDocumentTitle.InfoDocTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoDocumentTitle.InfoDocTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoDocTitleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoDocTitleType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InfoDocTitleTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
