@model IEnumerable<FireV2.Models.InfoDocumentTitleType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InfoDocumentTitle.InfoDocTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfoDocTitleType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InfoDocumentTitle.InfoDocTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfoDocTitleType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InfoDocTitleTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InfoDocTitleTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InfoDocTitleTypeId })
        </td>
    </tr>
}

</table>
