@model FireV2.Models.DocTypeAthelet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocTypeAthelet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.Fnam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.Fnam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoDocumentTitleType.InfoDocTitleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoDocumentTitleType.InfoDocTitleType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DocTypeAtId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
