@model IEnumerable<FireV2.Models.Athlete>

@{
    ViewBag.Title = "..:لیست اطلاعات پایه:..";
}
<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>
                    تصویر

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    سن
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Degree.DegreeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeStatu.EmStatusTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostSazmani.PSazmaniTitle)
                </th>
                <th>
                    سمت سازمانی

                                </th>
                <th>
                   رشته تحصیلی
                </th>
                <th>
                   توضیحات
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                var age = Model.Where(m => m.AthleteId == item.AthleteId).Select(m => m.Birthdate).FirstOrDefault();
                
                <tr>
                    <td>
                        @if (@item.Picture != null)
                        {
                            <a href="@Url.Content(@item.Picture)" target="_blank">
                                <img class="img-thumbnail" style="width: 50px; height: 50px; float:left; margin:0 10px 5px 0" alt="@item.FullName" src="@Url.Content(@item.Picture)" />
                            </a>
                        }
                        else
                        {
                            <img class="img-thumbnail" id="image_preview" style="width: 50px; height: 50px; float:left; margin:0 10px 5px 0" alt="" src="" />
                        }
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @FireV2.Utility.PertionDate.GetAge(age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Degree.DegreeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeStatu.EmStatusTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostSazmani.PSazmaniTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semat.SematName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Reshteh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoteAthlete)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.AthleteId }, new { @class = "editLink fa fa-edit fa-2x  ", style = "color:green" })
                        @Html.ActionLink(" ", "Delete", new { id = item.AthleteId }, new { @class = "deleteLink glyphicon glyphicon-remove fa-2x  ", style = "color:#b1204e" })
                        @Html.ActionLink(" ", "Details", new { id = item.AthleteId }, new { @class = "DetailsLink glyphicon  glyphicon-th-list fa-2x  ", style = "color:#blue" })
                    </td>
                </tr>
            }

        </table>
        <table>
            <tr>
                <td>
                   
                  
                    <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("AllList", "Athletes")'">
                        <span style="color:#0094ff" class="glyphicon glyphicon-backward"></span>بازگشت
                    </button>              
                </td>
                <td>
                    @Html.ActionLink("باز گشت به لیست", "AllList", "Athletes", null, new { @class = "btn btn-danger" })
                </td>
            </tr>
        </table>

    </div>
</div>
