@model FireV2.ViewModels.AthleteHistoryVM
@{
    Layout = null;

}
<style>
    a {
        color: #903c32;
        text-decoration: none;
    }

    .panel {
        background-color: rgba(153, 121, 100, 0.4);
    }
</style>
<div class="row  " style="">
    <div class="col-md-6 ">
        @if (Model.FullDis != true)
        {
            if (Model.IndDis != true)
            {
                <input type="checkbox" @(Model.IndividualOperations ? "checked" : "")> <label for="">عملیات انفرادی</label> <a class="controls glyphicon glyphicon-edit fa-3x" style="color:#e76615;" href="/IndividualHistories/Create/@Model.PeriodId?atid=@Model.AthleteId">@(Model.IndividualOperations ? " " : " ")</a>
            }
            else
            {
                <i style="color:#dd1111;font-size:large" class="glyphicon glyphicon-bell"></i> <b>غیر فعال به دلیل انصراف از آزمون عملیات انفرادی</b>
            }
            <br />
            if (Model.PhDis!= true)
            {
                <input type="checkbox" @(Model.PhysicalReadiness ? "checked" : "")> <label for="">آمادگی جسمانی</label> <a class="controls glyphicon glyphicon-edit fa-3x" style="color:#c8b028;" href="/PhysicalExamHistories/Create/@Model.PeriodId?atid=@Model.AthleteId">@(Model.PhysicalReadiness ? " " : " ")</a>

            }
            else
            {
                <i style="color:#dd1111;font-size:large" class="glyphicon glyphicon-bell"></i>   <b>غیر فعال به دلیل انصراف از آزمون آمادگی جسمانی</b>
            }
            <br />
        }

    <input type="checkbox" @(Model.SportsScore ? "checked" : "")> <label for=""> امتیاز تربیت بدنی</label> <a class="controls glyphicon glyphicon-edit fa-3x" style="color:#8e02a9;" href="/SportScoreByPeriods/Create/@Model.PeriodId?atid=@Model.AthleteId">@(Model.SportsScore ? "" : "")</a>
        <br />
        @*    <input type="checkbox" @(Model.DissUsionPeriod ? "checked" : "")><label for=""> انصراف از آزمون</label>*@
        </div>
    <div class="col-md-6  ">
        <div>
            @if (@Model.Picture != null)
            {
                <img class="img-rounded img-responsive" style="position:absolute;left:20px;top:0px;width:220px;height:260px" src="@Url.Content(@Model.Picture)" />
            }
            else
            {
                <img class="img-rounded img-responsive" id="image_preview" style="position:absolute;left:20px;top:0px;width:220px;height:260px" alt="" src="" />
            }
        </div>
    </div>
    <div class="col-md-12"  id="DisList">
        @Html.Action("GetDisTitle", "Dissusion", new { id = Model.AthleteId,pid=Model.PeriodId })
    </div>
</div>
<div class="modal fade " id="myModalD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #d4e3c6">
                <button type="button" class="close" data-dismiss="modal" aria-label="بستن"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">  ثبت انصراف از آزمون  </h4>
            </div>
            <div class="modal-body">
                <div id="modal-body-form">
                </div>
            </div>
            <div class="modal-footer" style="background-color: #d4e3c6">
                <button type="submit" class="btn btn-success" data-dismiss="modal" id="btnSaveD">
                    <span class="glyphicon glyphicon-ok"></span> ذخیره
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> بستن
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#eee">
                <button type="button" class="close" data-dismiss="modal" aria-label="بستن"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">پیغام سیستم</h4>
            </div>
            <div class="modal-body">
                <div id="modal-body-form">
                </div>
            </div>
        </div>
    </div>
</div>

    <script>

    $('#myModalD').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        $('#modal-body-form').html('');
        $('#modal-body-form').load($(button).attr('data-href'));
    });
    $(document).delegate('#DissTypeid', 'change', function (e) {
        $('#details').load("/Dissusion/InfoDisTitleTypes/" + $(this).val()+'?&atid='+@Model.AthleteId);

    });
    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        $('#modal-body-form').html('');
        $('#modal-body-form').load($(button).attr('data-href'));
    });
    $(document).delegate('#btnSaveD', 'click', function (e) {
        e.preventDefault();
        $('#detailsInputs').html('');
        var i = 0;
        $('input[type=checkbox].detailsItem').each(function (idx, item) {
            if ($(item).prop('checked') == true) {
                var name = "details[" + i + "].";
                var input = "<input type='hidden' value='" + $(item).val() + "' name='" + name + "DissTitleId' />";
                $('#detailsInputs').append(input);
                i++;
                console.log("input=" + input);
            }
            else {
                console.log('input not selected');
            }
        });
        var form = $("#detailsForm");
        $.ajax({
            url: $(form).attr('action'),
            data: $(form).serialize(),
            method: 'post',
            success: function (data) {
                if (data == 'true') {

                    $('#DisList').load('/Dissusion/GetDisTitle/'+@Model.AthleteId+'?&pid='+@Model.PeriodId)

                    //$('#DisList').unbind();
                    //$('#DisList').undelegate();
                }
            }
        });
    });
       
</script>


