@model FireV2.Models.AthTypeMedical

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AthTypeMedical</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medicalid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicalid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTitleTypeid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTitleTypeid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AthTypeMid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
