@model FireV2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "..:تغییرکلمه عبور:..";
}


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
   <div class="row">
       <div class="panel panel-default">
           <div class="panel-heading">
               تغییر کلمه عبور
           </div>

           <div class="panel-body">
               <div class="row" >
                  <div class="col-md-12">
                      <div class="alert alert-danger">
                          &nbsp;&nbsp;&nbsp; <span class="fa fa-pencil fa-2x">   &nbsp;   </span>  کلمه عبور نباید از 8 رقم کمتر باشد. <br />
                          &nbsp;&nbsp;&nbsp; <span class="fa fa-pencil fa-2x">   &nbsp;   </span>کلمه عبور باید ترکیبی از حروف انگلیسی کوچک، حروف انگلیسی بزرگ ، عددو کلمات کلیدی مثل($,#,...)باشد. <br />
                      </div>
                  </div>
               </div>

            <div class="row">

                <div class="col-sm-4 ">
                    <span style="color:#a70808" class="fa fa-star faa-ring animated ">   &nbsp;   </span>
                    کلمه عبور جاری

                    <div style="">
                        <div class="input-group" style="margin-bottom: 10px">
                            <span class="input-group-addon">
                                <i class="fa fa-user-circle-o fa-2x">
                                </i>
                            </span>
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control input-lg", placeholder = "کلمه عبور جاری ", autocomplete = "off" })
                        </div>
                        <b>
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </b>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <span style="color:#a70808" class="fa fa-star faa-ring animated ">   &nbsp;   </span>
                    کلمه عبور جدید

                    <div style="">
                        <div class="input-group" style="margin-bottom: 10px">
                            <span class="input-group-addon">
                                <i class="fa fa-user-circle-o fa-2x">
                                </i>
                            </span>
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control input-lg", placeholder = "کلمه عبور جدید ", autocomplete = "off" })
                        </div>
                        <b>
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </b>
                    </div>

                </div>
                <div class="col-sm-4 ">
                    <span style="color:#a70808" class="fa fa-star faa-ring animated ">   &nbsp;   </span>
                    تکرار کلمه عبور جدید

                    <div style="">
                        <div class="input-group" style="margin-bottom: 10px">
                            <span class="input-group-addon">
                                <i class="fa fa-user-circle-o fa-2x">
                                </i>
                            </span>
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "تکرار کلمه عبور جدید ", autocomplete = "off" })
                        </div>
                        <b>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </b>
                    </div>
                </div>
            </div>
              
               <div class="row">
                   <div class="form-group">
                       <div class="col-lg-offset-5 col-md-4">
                           <button class="btn  btn-success  fa-x" data-last="Finish ">
                               ثبت  
                               <i class="fa fa-floppy-o fa-2x"></i>
                           </button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       

   </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}