@model FireV2.Models.IndividualHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IndividualHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.Fnam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.Fnam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndOperTotalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndOperTotalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndOperTotalFaults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndOperTotalFaults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndOperTotalFinalOper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndOperTotalFinalOper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndOperScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndOperScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IndHistoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
